Classify/__pycache__/
Classify/nnlm
Classify/stanford-server

SearchForQuery/__pycache__
SearchForQuery/nnlm
SearchForQuery/stanford-server
SearchForQuery/.idea

Mongo/docker-entrypoint-initdb.d/UPV
MSSQL/mssql_database/initdbfull.sql

RecSys/.vs
RecSys/Publish
RecSys/RecSysApi/bin
RecSys/RecSysApi/obj
RecSys/RecSysApi.Application/bin
RecSys/RecSysApi.Application/obj
RecSys/RecSysApi.Domain/bin
RecSys/RecSysApi.Domain/obj
RecSys/RecSysApi.Infrastructure/bin
RecSys/RecSysApi.Infrastructure/obj

TagsAppender/__pycache__/
TagsAppender/nnlm/
TagsAppender/stanford-server

data